th{
    background: orangered;
    color: white;
    font-size: 20px;
}
table
{width: 600px;height: 200px;border:1px solid black;border-collapse: collapse}
.textblue
{color: blue;
text-align: right;
}
.textorange
{color: darkorange;

}
.topright
{
    margin-top: -50px;
}
.longer
{
    width: 265px;
}


