table
{
width: 500px;
    background-color: yellow;
    text-align: left;
}
th
{
    font-size:20px;
    color:blue;
    background-color:greenyellow;
}
.morelong
{
    width: 185px;
}
.morebig
{
    height: 50px;
}
.righttop
{
    margin-top: -15px;
}